<div class="accordion">
  <div class="item">
    <p class="number">01</p>
    <p class="text">Where are chaires assembled?</p>
    <mat-icon style="color: #087f5b">keyboard_arrow_down</mat-icon>
    <div class="hidden-box">
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestiae
        laudantium labore repellat quibusdam impedit excepturi iste accusantium
        dolores earum at iure suscipit perspiciatis voluptatem unde assumenda,
        exercitationem nesciunt facilis quidem.
      </p>
      <ul>
        <li>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</li>
        <li>Quae, fugiat enim eligendi temporibus cumque</li>
        <li>Similique nam expedita doloribus a odit dolore quidem?</li>
      </ul>
    </div>
  </div>
  <div class="item open">
    <p class="number">02</p>
    <p class="text">How long do I have to return mu chair?</p>
    <mat-icon style="color: #087f5b">keyboard_arrow_down</mat-icon>
    <div class="hidden-box">
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestiae
        laudantium labore repellat quibusdam impedit excepturi iste accusantium
        dolores earum at iure suscipit perspiciatis voluptatem unde assumenda,
        exercitationem nesciunt facilis quidem.
      </p>
      <ul>
        <li>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</li>
        <li>Quae, fugiat enim eligendi temporibus cumque</li>
        <li>Similique nam expedita doloribus a odit dolore quidem?</li>
      </ul>
    </div>
  </div>
  <div class="item">
    <p class="number">03</p>
    <p class="text">Do you ship to countries to EU?</p>
    <mat-icon style="color: #087f5b">keyboard_arrow_down</mat-icon>
    <div class="hidden-box">
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestiae
        laudantium labore repellat quibusdam impedit excepturi iste accusantium
        dolores earum at iure suscipit perspiciatis voluptatem unde assumenda,
        exercitationem nesciunt facilis quidem.
      </p>
      <ul>
        <li>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</li>
        <li>Quae, fugiat enim eligendi temporibus cumque</li>
        <li>Similique nam expedita doloribus a odit dolore quidem?</li>
      </ul>
    </div>
  </div>
</div>
