<header>
  <nav class="container">
    <div>LOGO</div>
    <div>NAVIGATION</div>
  </nav>
  <div class="header-container">
    <div class="header-container-inner">
      <h1>A healty meal delivered to your door, every single day</h1>
      <p>
        The smaer 365-days-per-year food subscription that will make you eat
        healhy again. Tailored to your personel tastes and nutritional needs
      </p>
      <a class="btn">Start eating well</a>
    </div>
  </div>
</header>
<section>
  <div class="container">
    <h2>Some random headings</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis,
      debitis accusantium? Vero qui mollitia possimus! Eos quo officia
      laboriosam architecto. Nobis blanditiis soluta deleniti unde omnis impedit
      adipisci est maxime? Lorem ipsum dolor sit amet consectetur adipisicing
      elit. Ex error vitae molestias exercitationem asperiores aliquam! Nemo
      atque repudiandae, vero sapiente dolor explicabo quaerat ratione
      voluptatibus fugit maiores recusandae blanditiis ipsam.
    </p>
  </div>
</section>
