<div class="carousel">
  <button class="btn">
    <mat-icon class="icon">keyboard_arrow_left</mat-icon>
  </button>
  <img src="../../../assets/maria.jpg" alt="Maria de Almeida" />
  <blockquote class="testimonial">
    <p class="testimonial-text">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fuga ut libero,
      ipsam recusandae nobis, culpa maxime quam incidunt voluptatibus in magnam
    </p>
    <p class="testimonial-author">Maria de Almeida</p>
    <p class="testimonial-job">Senior Product Manager at EDP Commercials</p>
  </blockquote>

  <button class="btn">
    <mat-icon class="icon">keyboard_arrow_right</mat-icon>
  </button>
  <div class="dots">
    <button class="dot dot--fill">&nbsp;</button>
    <button class="dot">&nbsp;</button>
    <button class="dot">&nbsp;</button>
    <button class="dot">&nbsp;</button>
  </div>
</div>
